* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f2f2f2;
}

/* NAVBAR */
header {
    background: #004aad;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

/* HERO SECTION */
.hero {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background: white;
}

.hero-text h2 {
    font-size: 40px;
    color: #333;
}
.hero-text h1 {
    font-size: 45px;
    color: #e63946;
    font-weight: bold;
}
.hero-text p {
    margin-top: 10px;
}

.hero-img img {
    width: 260px;
}

/* ABOUT */
.about, .skills, .projects, .contact {
    padding: 40px;
}

.about p {
    margin-top: 10px;
    line-height: 1.5;
}

/* SKILLS */
.skill-box {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.skill {
    background: #004aad;
    color: white;
    width: 200px;
    padding: 15px;
    text-align: center;
    border-radius: 6px;
}

/* PROJECTS */
.project-card {
    background: white;
    padding: 25px;
    border-radius: 6px;
    margin: 20px auto;
    width: 70%;
    text-align: center;
    box-shadow: 0 0 5px #ccc;
}

/* CONTACT */
.contact form {
    width: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact input, .contact textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact button {
    background: #004aad;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* FOOTER */
footer {
    background: #004aad;
    color: white;
    text-align: center;
    padding: 12px;
    margin-top: 20px;
}